Zadanie 1 (5 pkt)


Wgraj zawartość pliku orders.csv do ramki danych.
Przyjrzyj się danym, wykorzystując poznane metody (describe, info, head) zanalizuj dane.

Następnie:



1. Zamień order_date na format daty. Upewnij się, że w rezultacie data będzie w formacie: rok-miesiąc-dzień;
2. Sprawdź ile i jakie unikalne wartości znajdują się w kolumnie T-shirt category;
3. Wyczyść kolumnę tshirt_category normalizując nazwy produktów. Upewnij się, że dla każdej kategorii funkcjonuje jedna nazwa, np. zamiast white i wh jest tylko jedna wersja white. Skorzystaj z klasy string i metody apply;
4. Rozdziel kolumnę tshirt category na 3 kolumny: tshirt_type, która będzie mówiła o tym czy jest to koszulka, bluza czy coś innego, tshirt_size, która będzie informowała o rozmiarze koszulki, i tshirt_colour, która będzie informowała o kolorze. Skorzystaj z metody apply.
5. Znajdź zamówienia złożone między 31 grudnia 2014 a 2 sierpnia 2016.

In [27]:
import pandas as pd
import numpy as numpy

df = pd.read_csv('orders.csv')

df.head()
#df.describe()
df.info()
#df.isna().any()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26552 entries, 0 to 26551
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   order_date       26552 non-null  object
 1   pages_visited    26552 non-null  int64
 2   order_id         26552 non-null  object
 3   customer_id      26552 non-null  object
 4   tshirt_category  26552 non-null  object
 5   tshirt_price     26552 non-null  float64
 6   tshirt_quantity  26552 non-null  int64
dtypes: float64(1), int64(2), object(4)
memory usage: 1.4+ MB

In [28]:
#1
df['order_date'] = pd.to_datetime(df['order_date'], format = '%Y/%m/%d')
print(df['order_date'].head())

0   2016-09-04
1   2014-11-14
2   2017-02-26
3   2013-12-01
4   2015-10-22
Name: order_date, dtype: datetime64[ns]

In [29]:
#2
print(df['tshirt_category'].unique())
print(df['tshirt_category'].unique().size)

['White T-Shirt M' 'White T-Shirt F' 'Wh Tshirt F' 'Black T-Shirt F'
 'Hoodie' 'Black T-Shirt M' 'Tennis Shirt' 'Wh Tshirt M' 'Bl Tshirt F'
 'Bl Tshirt M']
10

In [30]:
#3
rep_dict = {'Wh Tshirt M': 'White T-Shirt M', 'Wh Tshirt F': 'White T-Shirt F', 'Bl Tshirt M': 'Black T-Shirt M',  'Bl Tshirt F': 'Black T-Shirt F'}

df['tshirt_category'] = df['tshirt_category'].apply(lambda x: x.replace("Wh ", "White "))
df['tshirt_category'] = df['tshirt_category'].apply(lambda x: x.replace("Bl ", "Black "))
df['tshirt_category'] = df['tshirt_category'].apply(lambda x: x.replace("Tshirt", "T-Shirt"))
#df['tshirt_category'].replace(rep_dict, inplace=True)

print(df['tshirt_category'].unique())

['White T-Shirt M' 'White T-Shirt F' 'Black T-Shirt F' 'Hoodie'
 'Black T-Shirt M' 'Tennis Shirt']

In [39]:
#4
df['tshirt_category'].str.split()

df['tshirt_type'] = df['tshirt_category'].apply(lambda x: "Hoodie" if (x == "Hoodie") else "Tennis Shirt" if(x == "Tennis Shirt") else "T-shirt")
df['tshirt_colour'] = df['tshirt_category'].apply(lambda x: x.split()[0] if (x != "Hoodie" and x != "Tennis Shirt") else numpy.nan)
df['tshirt_size'] = df['tshirt_category'].apply(lambda x: x.split()[2] if (x != "Hoodie" and x != "Tennis Shirt") else numpy.nan)

df.sample(10)

,order_date,pages_visited,order_id,customer_id,tshirt_category,tshirt_price,tshirt_quantity,tshirt_type,tshirt_colour,tshirt_size
8692,2014-05-23,9,HTS-767129-0002,767129,White T-Shirt M,20.0,4,T-shirt,White,M
9759,2015-03-26,13,HTS-030293-0002,030293,White T-Shirt M,20.0,3,T-shirt,White,M
7759,2013-10-29,13,HTS-576992-0001,576992,White T-Shirt M,20.0,1,T-shirt,White,M
22251,2015-01-04,10,HTS-847180-0002,847180,Black T-Shirt M,19.0,3,T-shirt,Black,M
10891,2014-09-19,7,HTS-351408-0003,351408,White T-Shirt M,20.0,7,T-shirt,White,M
25183,2016-08-03,11,HTS-n9dwa0-0001,n9dwa0,Hoodie,23.0,1,Hoodie,NaN,NaN
14636,2013-06-29,6,HTS-940775-0001,940775,Hoodie,23.0,3,Hoodie,NaN,NaN
24056,2016-10-16,8,HTS-vxntwj-0004,vxntwj,White T-Shirt M,20.0,4,T-shirt,White,M
671,2015-04-07,13,HTS-906624-0001,906624,Tennis Shirt,24.0,1,Tennis Shirt,NaN,NaN
16741,2015-10-03,9,HTS-dhtssh-0001,dhtssh,White T-Shirt M,20.0,2,T-shirt,White,M

In [41]:
#5
mask = (df['order_date'] > "2014-12-31") & (df['order_date'] <= "2016-8-2")
print(df.loc[mask])

      order_date  pages_visited         order_id customer_id  tshirt_category  \
4     2015-10-22             12  HTS-88ua9r-0001      88ua9r  White T-Shirt M
5     2016-01-15              9  HTS-061311-0003      061311  Black T-Shirt F
12    2015-11-24             15  HTS-je57lh-0001      je57lh           Hoodie
13    2015-10-10              8  HTS-252675-0002      252675  White T-Shirt M
15    2015-11-29             15  HTS-heb26i-0001      heb26i  Black T-Shirt F
...          ...            ...              ...         ...              ...
26496 2016-06-02              2  HTS-5b4bg6-0001      5b4bg6  Black T-Shirt F
26513 2016-07-05             12  HTS-bt08zd-0001      bt08zd  White T-Shirt F
26515 2016-07-27             17  HTS-gsc3f6-0001      gsc3f6           Hoodie
26540 2016-06-08              7  HTS-6ba0i0-0001      6ba0i0  White T-Shirt M
26548 2016-08-02              4  HTS-q0nm12-0001      q0nm12  White T-Shirt M

       tshirt_price  tshirt_quantity tshirt_type tshirt_colour tshirt_size
4              20.0                1     T-shirt         White           M
5              17.5                4     T-shirt         Black           F
12             23.0                3      Hoodie           NaN         NaN
13             20.0                3     T-shirt         White           M
15             17.5                1     T-shirt         Black           F
...             ...              ...         ...           ...         ...
26496          17.5                1     T-shirt         Black           F
26513          18.0                1     T-shirt         White           F
26515          23.0                1      Hoodie           NaN         NaN
26540          20.0                4     T-shirt         White           M
26548          20.0                1     T-shirt         White           M

[12619 rows x 10 columns]

Zadanie 2 (4 pkt)


Wgraj plik customers.csv do ramki danych. 

Następnie:
1. Wypisz kolumny;
2. Porównaj rozmiar ramki z rozmiarem ramki w zadaniu 1;
3. Zmień nazwę kolumny customerID  na customer_id upewniając się, że dane zmiana zostanie zapisana w pamięci dzięki jednemu z argumentów metody do zmiany nazwy kolumny;
4. Połącz ramkę orders z ramką customers po kolumnie customer_id. Z której metody skorzystasz? Zostaw odpowiedź w komentarzu do zadania w kodzie (np. blok komentarzem ‘’’ ‘’’).

In [44]:
#1
df2 = pd.read_csv('customers.csv')

print(df2.columns)

Index(['customerID', 'gender', 'birthdate', 'user_agent', 'ip_address',
       'campaign'],
      dtype='object')

In [46]:
#2
print(df.shape)
print(df2.shape)

(26552, 10)
(18766, 6)

In [50]:
#3
df2.rename(columns = {'customerID': 'customer_id'}, inplace = True)
print(df2.columns)

Index(['customer_id', 'gender', 'birthdate', 'user_agent', 'ip_address',
       'campaign'],
      dtype='object')

In [54]:
#4 - Odpowiednia metoda to merge z argumentem how='inner' zachowa się tak jak w przypadku SQL inner join

df_cd = pd.merge(df, df2, how='inner', on = 'customer_id')

df_cd.head()

,order_date,pages_visited,order_id,customer_id,tshirt_category,tshirt_price,tshirt_quantity,tshirt_type,tshirt_colour,tshirt_size,gender,birthdate,user_agent,ip_address,campaign
0,2016-09-04,9,HTS-038040-0002,038040,White T-Shirt M,20.0,1,T-shirt,White,M,F,1946/12/21,Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebK...,67.74.254.174,False
1,2014-06-04,13,HTS-038040-0001,038040,White T-Shirt F,18.0,1,T-shirt,White,F,F,1946/12/21,Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebK...,67.74.254.174,False
2,2014-11-14,11,HTS-801797-0001,801797,White T-Shirt M,20.0,1,T-shirt,White,M,M,1956/7/19,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,137.155.219.158,False
3,2015-10-22,12,HTS-801797-0002,801797,White T-Shirt M,20.0,2,T-shirt,White,M,M,1956/7/19,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,137.155.219.158,False
4,2017-02-26,10,HTS-vft1eu-0003,vft1eu,White T-Shirt F,18.0,3,T-shirt,White,F,F,1969/6/27,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3...,53.115.6.106,True

Zadanie 3 (1 pkt)

Nową ramkę (połączenie orders i customers) zapisz do pliku csv, ale zapisz bez kolumny z indeksem.

In [55]:
df_cd.to_csv("joined.csv",index=False)